<div id="admin-sidebar" class="row ms-2">
    <div class="card border p-0">
        <div class="card-body">
            <div class="alert alert-info small m-1">
                <span class="badge bg-info text-uppercase">{{ 'alert-info'|trans|raw }}</span>
                {{ 'alert-admin-sidebar-warning-meaning'|trans|raw }}
            </div>
        </div>
    </div>
</div>